$lightGreen : #9bc768;
$lightBlue : #6cb9e7;

.openedge-form {
	background: white;
	padding: 1em 1.5em .6em;
	font-weight: bold;
	font-size: .8em;
	border-radius: .5em;
	border: 2px solid $lightBlue;
	color: rgb(109, 109, 109);
	box-shadow: 0px 5px 17px black;
}

.openedge-field {

	margin: 1.4rem 0;
	font-family: sans-serif;

	label {
		text-transform: uppercase;
	}
	> * {
		display: block;
	}

	label {
		margin: .2em 0;
	}

	iframe {
		border-width: 0px;
		height: 2em;
	}
}